body{
  background-color: #ffffff; 
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.btn-signup {
  background-color: #23BBBB;
  color: #06b809;
}

.btn-signup:hover,
.btn-signup:active {
  background-color: #240cdb;
  color: #23BBBB;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #343a40;
  color: #fff;
  padding: 1rem;
}