body{
  background-color: #ffffff; 
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.btn-signup {
  background-color: #23BBBB;
  color: #06b809;
}

.btn-signup:hover,
.btn-signup:active {
  background-color: #240cdb;
  color: #23BBBB;
}

footer { 
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #343a40;
  color: #fff;
  padding: 1rem;
}

.page-height {
  min-height: 100vh;
}

@media screen and (min-width: 700px) {
  body {
    font-size: 1.2rem;
  }

  .btn-signup {
    font-size: 1.2rem;
  }

  footer {
    font-size: 1.2rem;
  }

  .page-height {
    min-height: 80vh;
  }
}

@media screen and (max-width: 767px) {
  body {
    font-size: 1rem;
  }

  .btn-signup {
    font-size: 0.9rem;
  }

  footer {
    font-size: 0.8rem;
  }

  .page-height {
    min-height: 100%;
  }
}

@media screen and (min-width: 1000px) {
  body {
    font-size: 1.3rem;
  }

  .btn-signup {
    font-size: 1.1rem;
  }

  footer {
    font-size: 1rem;
  }

  .page-height {
    min-height: 90vh;
  }
}

@media screen and (max-width: 676px) {
  .navbar-collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }
  footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

@media screen and (max-width: 1024px) {
  .navbar-collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }
}