<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>The Fork</title>
</head>
<body>
    <header>
        <h1>Welcome to The Fork</h1>
        <nav>
            <ul>
                <li><a href=""><button>Home</button></a></li>
                <li><a href=""><button>Register</button></a></li>
                <li><a href=""><button>Sign in</button></a></li>
                <li><a href=""><button>Book a table</button></a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <h2>Restaurant The Fork</h1>
            <p class="main-info">Here at My Restaurant, we offer a wide selection of delicious food and drinks. Come dine with us today!</p>
        </section>
        <section>
            <h2>Our Menu</h2>
            <ul>
              <li><h3>Burgers</h3><p>$10</p></li>
              <li><h3>Pizza</h3><p>$12</p></li>
              <li><h3>Salad</h3><p>$8</p></li>
              <li><h3>Pasta</h3><p>$11</p></li>
            </ul>
          </section>
    </main>
    <footer>
        <p>&copy; My Restaurant 2023</p>
      </footer>
      <script src="script.js"></script>
    </body>
  </html>