{% extends "base.html" %}

{% block content %}
{% if errorMessage %}
<div class="alert alert-danger">{{ errorMessage }}</div>
{% endif %}
<!-- Create booking form -->
{% if not user.is_authenticated %}
<div class="container my-5 page-height">
  <div class="row justify-content-center align-items-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-body text-center">
          <div class="mb-4">
            <p>You must be logged in to book a table, click here to <a href="{% url 'account_login' %}">login</a>.</p>
          </div>
          {% else %}
          <h3 class="mb-4">Make a reservation!</h3>
          <form method="POST" action="{% url 'createbooking' %}" class="form mb-2 p-2 form-style" enctype="multipart/form-data">
            <div class="form-row">
              {{ form.as_p }}
            </div>
            {% csrf_token %}
            <button type="submit" class="btn btn-primary btn-lg mt-3">Book</button>
          </form>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}