{% extends "base.html" %}

{% block content %}

<div class="col-md-4 card mb-4  mt-3 ">
    {% if showForm == True %}
    
    <form action="{% url 'editbooking' booking.id %}" method="POST">
    <h3 class="text-center">Edit Booking</h3>
        {% if user.is_authenticated %}
        {{ form.as_p }}
        {% csrf_token %}
        <button type="submit" class="btn btn-signup btn-lg">Change</button>
        </form>
        {% endif %}
    </div>
    {% else %}
    <div>
        Not allowed to edit
    </div>
    {% endif %}
</div>
{% endblock %}