{% extends "base.html" %}

{% block content %}
<section class="container">
  <div class="row">
    <div class="col-md-12">
      <h2 class="text-center mb-5">Restaurant The Fork</h1>
        <p class="main-info text-center">Here at our restaurant, we offer a wide selection of delicious food and drinks.
          Come dine with us today!</p>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-md-12">
    <h2 class="text-center mb-5">Our Menu</h2>
    <ul class="list-group">
      <li class="list-group-item d-flex justify-content-between align-items-center"><h3>Burgers</h3></li>
      <span class="badge badge-primary badge-pill">$10</span>
      <li class="list-group-item d-flex justify-content-between align-items-center"><h3>Pizza</h3></li>
      <span class="badge badge-primary badge-pill">$12</p>
      <li class="list-group-item d-flex justify-content-between align-items-center"><h3>Salad</h3></li>
      <span class="badge badge-primary badge-pill">$8</span>
      <li class="list-group-item d-flex justify-content-between align-items-center"><h3>Pasta</h3></li>
      <span class="badge badge-primary badge-pill">$11</span>
    </ul>
  </div>
  </div>
</section>
{% endblock content %}